body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 600px;
    margin: 0 auto;
}

.title {
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 10px;
}

.form-group label {
    display: block;
}

.input-field {
    margin-bottom: 10px;
    display: flex;
    justify-content: flex-end; /* Align fields to the right */
}

.input-field label {
    flex-basis: 25%;
    margin-right: 5%;
    text-align: right; /* Align labels to the left */
}

.input-field input[type="text"],
.input-field input[type="date"],
.input-field input[type="time"],
.input-field textarea {
    flex-basis: 70%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
}

.input-field textarea {
    height: 150px;
}

.button-group {
    text-align: center;
    margin-top: 20px;
}

.button-group button {
    background-color: #4caf50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.button-group button:hover {
    background-color: #45a049;
}

#generated-link {
    margin-top: 20px;
    text-align: center;
}

#generated-link textarea {
    width: 100%;
    font-size: 16px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: none;
    height: 100px;
}

@media screen and (max-width: 480px) {
    .input-field label {
        flex-basis: 30%;
        margin-right: 0;
    }

    .input-field input[type="text"],
    .input-field input[type="date"],
    .input-field input[type="time"],
    .input-field textarea {
        flex-basis: 70%;
    }

    #generated-link textarea {
        font-size: 14px;
    }
}
